<tr>
    <td>
        {% if level == 1 %}
            {{ typeOffre.nom }}
        {% endif %}
    </td>
    <td>
        {% if level == 2 %}
            {{ typeOffre.nom }}
        {% endif %}
    </td>
    <td>
        {% if level == 3 %}
            {{ typeOffre.nom }}
        {% endif %}
    </td>
    <td>
        {% if level == 4 %}
            {{ typeOffre.nom }}
        {% endif %}
    </td>
    <td>
        {% if level == 5 %}
            {{ typeOffre.nom }}
        {% endif %}
    </td>
    <td>
        {% if level == 6 %}
            {{ typeOffre.nom }}
        {% endif %}
    </td>
    <td>
        {% if level == 7 %}
            {{ typeOffre.nom }}
        {% endif %}
    </td>
</tr>
