{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>{{ typeOffre.name }}</h3>
            <span class="text-muted">{{ typeOffre.urn }}</span>
        </div>
        <div class="card-body">
            {% include '@AcMarchePivot/typeoffre/_actions.html.twig' %}
            <table class="table table-bordered">
                <tr>
                    <th>Français</th>
                    <td>{{ typeOffre.name_fr }}</td>
                </tr>
                <tr>
                    <th>Anglais</th>
                    <td>{{ typeOffre.name_en }}</td>
                </tr>
                <tr>
                    <th>Néerlandais</th>
                    <td>{{ typeOffre.name_nl }}</td>
                </tr>
            </table>

            <h4 class="text-success">Catégories</h4>
            {% include '@AcMarchePivot/typeoffre/_children.html.twig' %}
        </div>
    </div>
{% endblock %}
