{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <h2>{{ hotels|length }} hôtels</h2>

    <div class="row">
        {% for hotel in hotels %}
            <div class="col-6 mb-2">
                <div class="card">
                    <h3 class="card-header">{{ hotel.nom }}</h3>
                    <div class="card-body">
                        <p><strong>{{ hotel.codeCgt }}</strong></p>
                        <p>
                            <strong>Categories</strong> {{ hotel.categories|join(',') }}
                        </p>
                        <div class="text-muted">
                            {{ hotel.description|raw }}<br/>
                            {{ hotel.tarif|nl2br }}
                        </div>
                        {% include '@AcMarchePivot/default/_specifications.html.twig' with {'entity': hotel} %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}